{{#each this}}
    {{#each ingredients}}
        {{!-- {{#unless ingredients}} --}}
        <li class="tag-list__button">
           
            {{this}}
            
        </li>
        {{!-- {{/unless}} --}}
    {{/each}}
{{/each}}